<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pengxh.daily.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EmailConfigActivity" />
        <activity android:name=".ui.TaskConfigActivity" />
        <activity android:name=".ui.NoticeRecordActivity" />
        <activity android:name=".ui.QuestionAndAnswerActivity" />

        <service android:name=".service.ForegroundRunningService" />
        <service
            android:name=".service.NotificationMonitorService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/notification_monitor_service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".service.FloatingWindowService" />
    </application>

    <queries>
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>
</manifest>